<!-- overview section -->
<section class="section-padding">
    <div class="container">
    <div class="row gutter-30 justify-content-md-between">
        <div class="col-lg-5">
            <div class="block-image">
                <img src="{{ page.intro_image | relative_url }}" alt="{{ page.title}}">
            </div>
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="block-content">
                <h2 class="block-heading">
                    <strong>A better team to build best software and technology</strong>
                </h2>
                <p class="block-desc">
                    We led months of research, gathered hundreds of techniques and designed dozens of illustrations.
                </p>
                <div class="gap"></div>
                <ul class="list list-icon list-icon-2">
                    <li>
                        <div class="icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="content">
                            <strong class="fw-500">Who understand the power of software</strong>
                            <p>
                                We led months of research, gathered hundreds of techniques and designed dozens of illustrations..
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="content">
                            <strong class="fw-500">We want to help you deliver a stellar member </strong>
                            <p>
                                We led months of research, gathered hundreds of techniques and designed dozens of illustrations..
                            </p>
                        </div>
                    </li>
                 </ul>
            </div>
        </div><!-- ./col -->
    </div><!-- ./row -->
    </div><!-- ./container -->
</section> <!-- end overview -->

<!-- start about intro section -->
<section class="section-padding bg-primary-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="block-heading">
                    Made with by folks who've been there for creative.
                </h2>
            </div>
        </div>
        <div class="gap"></div>
        <div class="row text-center justify-content-center gutter-30">
            <div class="col-lg-3">
                <div class="counter-widget style2">
                    <div class="counter">
                        <h3 class="count">
                            <span class="counterUp" data-counter="89">89</span>K+
                        </h3>
                        <p class="count-title">Online Learners</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3">
                <div class="counter-widget style2">
                    <div class="counter">
                        <h3 class="count">
                            <span class="counterUp" data-counter="43">43</span>K+
                        </h3>
                        <p class="count-title">Earned Certificate</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3">
                <div class="counter-widget style2">
                    <div class="counter">
                        <h3 class="count">
                            <span class="counterUp" data-counter="35">35</span>K+
                        </h3>
                        <p class="count-title">Career Benifitited</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-12 text-center">
                <div class="gap"></div>
                <a href="{{site.baseurl}}/contact/" class="btn btn-primary">
                    Start Your Great Journey With Us
                </a>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section> <!-- end about intro section -->