 <!-- contact section -->
 <section class="section-padding tp-contact-section">
    <div class="container">
        <div class="row justify-content-between align-items-center gutter-40">
            <div class="col-md-4">
                <div class="block-content">
                   <ul class="address gutter-30">
                        <li class="address-item">
                            <i class="micon fas fa-map-marker-alt"></i>
                            <div class="address">
                                <h3>Our Address</h3>
                                <p> 
                                    Oakland, CA
                                </p>
                            </div>
                        </li>
                        <li class="address-item">
                            <i class="micon fas fa-envelope-open"></i>
                            <div class="address">
                                <h3>Our Mail</h3>
                                <p> jxm.bxmusic@gmail.com </p>
                            </div>
                        </li>
                        <li class="address-item">
                            <i class="micon fas fa-phone-alt"></i>
                            <div class="address">
                                <h3>Phone Number</h3>
                                <p> (707)-342-2221 </p>
                            </div>
                        </li>
                   </ul>
                </div>
            </div><!-- end col -->
            <div class="col-md-7">
                <div class="contact-form">
                    <div class="contact-form-heading">
                        <h2 class="block-heading">Send A Message</h2>
                        <div class="gap"></div>
                    </div>
                    <script type="text/javascript" src="<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/jxm-bxmusic?background_color=fddef8&primary_color=1a1a1a" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->></script>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- End  contact -->
