<!-- section-intregration -->
<section class="section section-padding bg-primary-light sec-intregration" style="background-image: url(./assets/images/social-bg.png);">
    <div class="container">
       <div class="row gutter-30 text-center justify-content-center">
          <div class="col-md-6">
             <div class="block-content">
                <h2 class="block-heading">
                   <strong>Easy integration with <span class="highlight">200+ tools</span></strong>
                </h2>
                <a href="{{site.baseurl}}/contact/" class="btn-link">Get Started For 7 Days Free <i class="icon fas fa-chevron-right"></i></a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- ./end section -->