<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="item">
                <img src="/assets/images/prince.jpeg" alt="">
                <div class="content">
                    <h3>
                        SADBOYDEX - THE PRINCE
                    </h3>
                    <div class="player">
                        <span> play</span>
                        <audio src="/assets/images/Stay-Away-(Master)-v1.mp3"></audio>
                        <i class="fa fa-play play" aria-hidden="true"></i>
                        <i class="fa fa-pause pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="/assets/images/artworks-gray.jpg" alt="">
                <div class="content">
                    <h3>
                        SADBOYDEX - GREY AREAS
                    </h3>
                    <div class="player">
                        <span> play</span>
                        <audio src="/assets/images/INDIGO-CHILD.mp3"></audio>
                        <i class="fa fa-play play" aria-hidden="true"></i>
                        <i class="fa fa-pause pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="/assets/images/download.jpg" alt="">
                <div class="content">
                    <h3> CALL ME, JASPER </h3>                    
                    <div class="player">
                        <span> play</span>
                        <audio src="/assets/images/CALL-ME-(Master)-v1.mp3"></audio>
                        <i class="fa fa-play play" aria-hidden="true"></i>
                        <i class="fa fa-pause pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="/assets/images/hysteria.jpeg" alt="">
                <div class="content">
                    <h3>
                        SADBOYDEX - HYSTERIA
                    </h3>
                    <div class="player">
                        <span> play</span>
                        <audio src="/assets/images/HYSTERIA-(Master)-v3.mp3"></audio>
                        <i class="fa fa-play play" aria-hidden="true"></i>
                        <i class="fa fa-pause pause" aria-hidden="true"></i>
                    </div>
               </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item">
                <img src="/assets/images/rosemary-artwork-type2.png" alt="">
                <div class="content">
                    <h3>
                        Aleja Aleja - ROSEMARY
                    </h3>
                    <div class="player">
                        <span> play</span>
                        <audio src="/assets/images/rosemary-(master)-v3.mp3"></audio>
                        <i class="fa fa-play play" aria-hidden="true"></i>
                        <i class="fa fa-pause pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>