<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          
        </div>
        <div class="gap"></div>
        <div class="col-md-4">
            <div class="item">
                <img src="/assets/images/nftuation.jpg" alt="">
                <div class="content">
                    <h3>
                        Nftuation. - Stuck In My Ways
                    </h3>
                    <div class="player">
                        <span> play</span>
                        <audio src="/assets/images/Stuck-In-My Way.mp3"></audio>
                        <i class="fa fa-play play" aria-hidden="true"></i>
                        <i class="fa fa-pause pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
